.coupon-list {
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.horizontal-scroll {
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
    max-width: 1200px;
}

.horizontal-scroll div {
    white-space: nowrap;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.horizontal-scroll {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.list {
    max-width: 1200px;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}

.no-coupons {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.no-coupons-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-coupons-main-content > p {
    margin: 0px;
}

@media (max-width: 767px) {
    .no-coupons-img {
        height: 100px;
        /* margin: 0px auto; */
    }
}